.navbar {
  background-color: gainsboro;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  text-decoration: none;
  padding: 0.3rem 0.3rem;
  color: black;
  font-size: 1.3rem;
}

.navbar-link:hover {
  background-color: olivedrab;
}
/*  */

.logo {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.logo:hover {
  background-color: olivedrab;
}

.logo-img {
  height: 2.5rem;
}

.logo-text {
  color: black;
  font-size: 1.3rem;
}

/*  */
